<nav aria-label="Page navigation example">
  <ul class="pagination text-center">
    <%if(currentPage!==1 && previousPage!==1){%>
      <li class="page-item"><a class="page-link text-white bg-danger" href="/product-list?page=1">1</a></li>
    <%}%>
    <%if(hasPreviousPage){%>
      <li class="page-item"><a class="page-link text-white bg-danger" href="/product-list?page=<%=previousPage%>"><%=previousPage%></a></li>
    <%}%>
    <li class="page-item"><a class="page-link text-white bg-danger" href="/product-list?page=<%=currentPage%>"><%=currentPage%></a></li>
    <%if(hasNextPage){%>
      <li class="page-item"><a class="page-link text-white bg-danger" href="/product-list?page=<%=nextPage%>"><%=nextPage%></a></li>
    <%}%>
    <%if(lastPage!==currentPage && nextPage!==lastPage){%>
      <li class="page-item"><a class="page-link text-white bg-danger" href="/product-list?page=<%=lastPage%>"><%=lastPage%></a></li>
    <%}%>
  </ul>
</nav>