<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=docTitle%></title>
    <%-include('../layouts/font-awesome.ejs')%>
    <%-include('../layouts/bootstrap-header.ejs')%>
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/product-detail.css" />
  </head>
  <body>
    <%-include('../layouts/navbar.ejs')%>
    <main class="bg-dark">
      <%if(prods.length>0){%>
      <h3 class="text-white">Food Product Details</h3>
      <p class="text-danger text-center">Kindly go to cart item in the navigation to do order</p>
      <div class="product-detail mt-3">
        <div class="product-detail-left">
          <img src="<%=prods[0].foodUrl%>" alt="icon/img" />
        </div>
        <div class="product-detail-right p-3">
          <h3 class="mt-2"><%=prods[0].name%></h3>
          <p class="mt-2">Price : <%=prods[0].price%>&#8377;</p>
          <p class="mt-2">Food Description : <%=prods[0].foodDesc%></p>
          <p class="mt-2">Food Category : <%=prods[0].foodCategory%></p>
          <%if(isAuthenticated){%>
            <form action="/add-to-cart" method="POST" class="mt-4">
              <input type="hidden" name="productId" value="<%=prods[0]._id%>" />
              <button class="btn btn-success w-100">
                <i class="fa-solid fa-cart-shopping"></i> &nbsp;Add to cart
              </button>
            </form>
          <%}else{%>
            <a href="/sign-up" class="btn btn-danger">Login To add to cart</a>
          <%}%>
        </div>
      </div>

      <section class="product-list p-0">
        <h4 class="text-white text-center mt-3">Releated products based on your search <i class="fa-solid fa-magnifying-glass"></i></h4>
        <div class="product-list-child p-2">
          <%for(let product of releated){%>
          <div class="card" style="width: 13rem">
            <img
              class="card-img-top"
              src="<%=product.foodUrl%>"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title"><%=product.name%></h5>
              <p class="card-text">Price <%=product.price%>&#8377;</p>
              <a
                href="/product-detail/<%=product._id%>"
                class="btn btn-success w-100"
                >Details</a
              >
            </div>
          </div>
          <%}%>
        </div>
      </section>

      <%}%>
    </main>
    <%-include('../layouts/footer.ejs')%>
  </body>
  <%-include('../layouts/bootstrap-footer.ejs')%>
</html>
